.movie {
  max-width: 1000px;
  margin: 0 auto;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
}

.movie-list.centered {
  justify-content: center;
}

.movie-card-wrapper {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 966px) {
  .movie-card-wrapper {
    flex: 1 1 48%;
  }
}

@media (min-width: 1200px) {
  .movie-card-wrapper {
    flex: 1 1 48%;
  }
}

.pagination-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
